@import "tailwindcss";
@plugin "daisyui";

@keyframes carMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-car {
    animation: carMove 1.9s infinite linear;
}