@import "tailwindcss";
@plugin "daisyui";

@keyframes carMove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

.animate-car {
    display: inline-block;
    animation: carMove 1.5s infinite linear;
}